/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Apply a background color and font styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    
    display: flex;
    flex-direction: column;
    background-color: #312f38;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    height: 300%;
}
/* Style the header with a background color and text color */
header {
    background-color: #312f38; /* Gray gradient for the header */
    color: #fff;
    padding: 1rem 0;
}

/* Style the navigation menu */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 10px auto;
    padding: 0 20px;
}

a {
    color: #a8ffcc; /* Change this to your desired color (e.g., blue) */
    text-decoration: none;
    
}

/* Add an underline on hover */
a:hover {
    text-decoration: underline;
}
.logo {
    font-size: 24px;
    color: #32ffdd;
}

.nav-links {
    list-style: none;
    display: flex;
}
.nav-links li :hover {
    text-decoration: underline;
}
.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}
.language-btn  {
    margin: -24px auto;
    background-color: #312f38;
            border: none;
            padding: 0;
            width: 32px; /* Set the button size as needed */
            height: 32px; /* Set the button size as needed */
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;
    border-radius: 50%;
            transition: filter 0.3s;
            overflow: hidden;
}
.language-div {
    padding: 15px 0;
    position:relative;
}
.language-div::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #a8ffcc;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
}


.language-div:hover::before {
    transform: scaleX(1);
}
.language-btn:hover {
cursor:pointer;}
.language-btn img {
    

            width: 200%;
            height: 200%;
            
}

/* Style sections and containers */
/* Update the section background to a slightly lighter tone */
.section {
     /* Modern gray color for sections */
    padding: 0px 0;
    
}

.skill-list {
    justify-content: space-between;
    margin: 0 auto;
    list-style: none;
}

.skill-list img {
    margin-top: 10px;
    margin-right: 40px;
    width: 64px;
    height:64px;
}
#portfolio {
    background-color: #211f2b;
    margin: 40px 0;
    padding: 40px 0;
}

.about-image {
    flex: 1;
 /* Adjust text alignment for the image */
    width:14%;
    height:14%;
    animation: fade-in 0.5s ease-in-out;
    position:absolute;
    right:520px;
    top: 290px;
}

.about-image img {
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    height: auto; 
    /* Maintain aspect ratio */
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    line-height: 1.5;
    color: #fff;
}
.fade-underline {
    text-decoration: none;
    position: relative;
    color: #a8ffcc; /* Text color */
    transition: color 0.3s, border-bottom 0.3s; /* Transition for color and border-bottom */
}

.fade-underline::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #a8ffcc; /* Underline color */
    transform: scaleX(0); /* Initially set to zero width */
    transform-origin: left;
    transition: transform 0.3s; /* Transition for the underline */
}

.fade-underline:hover {
    color: #a8ffcc; /* Text color on hover */
}

.fade-underline:hover::before {
    transform: scaleX(1); /* Expand to full width on hover */
}
/* Style portfolio items */
.portfolio-item {
    
    padding: 20px;
    margin-bottom: 20px;
    width: 100%; 
}

/* Style the footer */
footer {
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}
